<div class="navbar-lewagon">
  <p>My lists</p>
  <p><%= link_to "New list", new_list_path %></p>
  <i class="fa-regular fa-popcorn"></i>
</div>

<ul>
  <% @lists.each do |list| %>
    <li>
      <%= list.name %>
    </li>
  <% end %>
</ul>
